main {
  background-color: lightcoral;
  margin: auto;
  height: 1000px;
  font-family: 'Montserrat', sans-serif;
}

.baby-reg, .email-button {
  text-decoration: none;
}

.top-of-page {
  background-image: url("/img/hearts.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
 font-size: 60px;
 text-decoration: underline;
}

h2 {
  text-decoration: underline;
}

.heading {
  color: violet;
}

#text-center {
  text-align: center;
}

/* ultrasound pics */


/* slideshow */

.slide {
  border-radius: 20px;
}

#slideshow-center {
  position: relative;
  align-content: center;
  margin: 45px auto;
  height: 250px;
  width: 250px;
}

.captions {
  text-align: center;
}

[data-component="slideshow"] .slide {
  display: none;
}

[data-component="slideshow"] .slide.active {
  display: block;
}

/* For the countdown */
#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div {
  padding: 10px;
  border-radius: 3px;
  background: lightcoral;
  display: inline-block;
}

#clockdiv div > span {
  padding: 15px;
  border-radius: 3px;
  background: lightpink;
  display: inline-block;
  text-align: center;
}


.smalltext {
  padding-top: 5px;
  font-size: 16px;
  color: black;
}

/* end countdown */

ul, .heading-list, li {
  list-style: none;
  display: inline;
  padding-inline: 15px;
}


/* Social Media area */

.fa-facebook {
  /* background: #3B5998; */
  color: #3B5998;
}

.fa {
  padding: 20px;
  border-radius: 50%;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
}
