* {
  font-family: 'Patrick Hand', cursive;
}

@media (max-width: 576px) {


  .main{
    background-color: lightcoral;
    margin: auto;
    box-sizing: border-box;
  }

  .top-of-page {
    color: rgb(230,230,250);
    position: relative;
    text-align: center;
    background-image: url("../img/hearts.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -20px;
    width: auto;
    height: 110px;
  }

  .heading-list {
    display: inline;
    list-style: none;
    padding-inline: 15px;
  }

  .nav-link {
    color: rgb(230,230,250);
    text-decoration: none;
    position: relative;
    float: left;
    margin: 10px;
    font-size: 26px;
    top: -20px;
  }

  #social-link {
    color: rgb(230,230,250);
    text-decoration: none;
    position: relative;
    float: right;
    margin: 10px;
    font-size: 26px;
    top: -15px;
  }

  .nav-link:hover {
    color: rgb(230,230,250);
    text-decoration: none;
    position: relative;
  }

  #social-link:hover {
    color: rgb(230,230,250);
    text-decoration: none;
    position: relative;
  }

  .baby-shower {
    position: relative;
    padding: 5px;
    color: rgb(230,230,250);
    background-color: rgba(0, 0, 0, 0.45);
    border: 2px solid rgb(230,230,250);
    border-radius: 100px;
    text-align: center;
    font-size: 1.1em;
    margin: 0 15px 20px 15px;
  }

  .book-for-baby {
    position: relative;
    padding: 10px;
    top: 0px;
    color: rgb(230,230,250);
    background-color: rgba(0, 0, 0, 0.45);
    border: 2px solid rgb(230,230,250);
    border-radius: 100px;
    text-align: center;
    font-size: 1.1em;
    margin: 20px 15px 0 15px;
  }

  .book-info > h2 {
    text-decoration: underline;
    font-size: 42px;
  }

  .baby-shower-title > h2 {
    text-decoration: underline;
    font-size: 42px;
  }

  .when-where {
    position: relative;
    /* float: left; */
    /* left: 40px; */
    text-decoration: underline;
  }

  .raffle-area {
    position: relative;
    text-align: center;
    margin: 40px;
    transform: rotate(12deg);
  }

  .raffle-area:hover {
    transform: rotate(-9deg);
  }

  .maps {
    position: relative;
    text-align: center;
    top: 45px;
  }

/* Slide-show area   */

  #slideshow-center {
    position: relative;
    align-content: center;
    margin: 45px auto;
    height: 250px;
    width: 250px;
  }

  .ultra-sounds {
    border: 4px palevioletred inset;
    border-radius: 50px;
  }

  .captions {
    text-align: center;
    color: white;
  }

  [data-component="slideshow"] .slide {
    display: none;
  }

  [data-component="slideshow"] .slide.active {
    display: block;
  }

  /* For the countdown */
  .counter {
    position: relative;
    text-align: center;
    margin-top: 60px;
  }

  .bottom-of-page {
    background-color: rgba(0, 0, 0, 0.45);
  }

  #clockdiv {
    /* position: relative; */
    margin: auto;
    color: rgb(250,250,250);
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }

  #clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    background: lightcoral;
    display: inline-block;
  }

  #clockdiv div > span {
    padding: 15px;
    border-radius: 3px;
    background: lightpink;
    display: inline-block;
    text-align: center;
  }

  #endMsg {
    color: rgb(230,230,250);
    font-size: 48px;
    text-decoration: underline;
  }


  .smalltext {
    padding-top: 5px;
    font-size: 16px;
    color: rgb(230,230,250);
  }

/* end countdown */

  .header {
    margin: auto;
    width: auto;
  }

  .footer {
    color: rgb(230,230,250);
    margin: auto;
  }


}





/* PHOTOS PAGE!!!! */

.main-p2 {
  background-color: lightcoral;
  margin: auto;
  box-sizing: border-box;
}

.polaroid {
  text-align: center;
  position: relative;
  margin: 40px;
  padding: 15px;
}

.photo-page {
  text-align: center;
  display: inline-block;
  list-style: none;
  position: relative;
  border: solid 12px #fff;
  background: #fff;
  box-shadow: 0 0 15px 0px #555;
  transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  top: 50px;
}


.photo-page:hover{
  top: 0px;
  /* opacity: 0.0; */
  height: 300px;
  width: 300px;
  z-index: 1;
}

.photo-page:nth-child(1) {
  transform:rotate(10deg);
}

.photo-page:nth-child(2) {
  transform:rotate(-12deg);
}

.photo-page:nth-child(3) {
  transform:rotate(16deg);
}

.photo-page:nth-child(4) {
  transform:rotate(-7deg);
}

.photo-page:nth-child(5) {
  transform:rotate(12deg);
}

.photo-page:nth-child(6) {
  transform:rotate(-11deg);
}

.photo-page:nth-child(7) {
  transform:rotate(17deg);
}

.photo-page:nth-child(8) {
  transform:rotate(-20deg);
}






/* END PHOTOS PAGE!!!! */

/* Landscape phone screens */
@media (min-width: 576px) {
  .main{
    background-color: lightcoral;
    margin: auto;
    box-sizing: border-box;
  }

  .top-of-page {
    color: rgb(230,230,250);
    position: relative;
    text-align: center;
    background-image: url("../img/hearts.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -20px;
    width: auto;
    height: 110px;
  }

  .heading-list {
    display: inline;
    list-style: none;
    padding-inline: 15px;
  }

  .nav-link {
    color: rgb(230,230,250);
    text-decoration: none;
    position: relative;
    float: left;
    margin: 10px;
    font-size: 26px;
    top: -20px;
  }

  #social-link {
    color: rgb(230,230,250);
    text-decoration: none;
    position: relative;
    float: right;
    margin: 10px;
    font-size: 26px;
    top: -15px;
  }

  .nav-link:hover {
    color: rgb(230,230,250);
    text-decoration: none;
    position: relative;
  }

  #social-link:hover {
    color: rgb(230,230,250);
    text-decoration: none;
    position: relative;
  }

  .baby-shower {
    background-color: rgba(0, 0, 0, 0.45);
    color: rgb(230,230,250);
    border: 2px solid rgb(230,230,250);
    border-radius: 100px;
    font-size: 18px;
    text-align: center;
    margin: 0 15px 0 15px;
  }

  .baby-shower-title > h2 {
    text-decoration: underline;
    font-size: 42px;
  }

  .book-for-baby {
    position: relative;
    top: 0px;
    color: rgb(230,230,250);
    background-color: rgba(0, 0, 0, 0.45);
    border: 2px solid rgb(230,230,250);
    border-radius: 100px;
    text-align: center;
    font-size: 18px;
    margin: 15px 15px 0 15px;
  }

  .book-info > h2 {
    text-decoration: underline;
    font-size: 42px;
  }

  .book-info {
    margin: 0 15px 0 15px;
  }

  .raffle-area {
    position: relative;
    text-align: center;
    margin: 40px;
    top: 100px;
    /* transform: rotate(12deg); */
  }

  .raffle-area:hover {
    /* transform: rotate(-9deg); */
  }

  .maps {
    position: relative;
    text-align: center;
    top: 100px;
  }

/* Slide-show area   */

  #slideshow-center {
    position: relative;
    align-content: center;
    margin: 45px auto;
    height: 250px;
    width: 250px;
  }

  .ultra-sounds {
    border: 4px palevioletred inset;
    border-radius: 50px;
  }

  .captions {
    text-align: center;
    color: white;
  }

  [data-component="slideshow"] .slide {
    display: none;
  }

  [data-component="slideshow"] .slide.active {
    display: block;
  }

  /* For the countdown */
  .counter {
    position: relative;
    text-align: center;
    margin-top: 60px;
  }

  .bottom-of-page {
    background-color: rgba(0, 0, 0, 0.45);
  }

  #clockdiv {
    /* position: relative; */
    margin: auto;
    color: rgb(250,250,250);
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }

  #clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    background: lightcoral;
    display: inline-block;
  }

  #clockdiv div > span {
    padding: 15px;
    border-radius: 3px;
    background: lightpink;
    display: inline-block;
    text-align: center;
  }

  #endMsg {
    color: rgb(230,230,250);
    font-size: 48px;
    text-decoration: underline;
  }


  .smalltext {
    padding-top: 5px;
    font-size: 16px;
    color: rgb(230,230,250);
  }

/* end countdown */

  .header {
    margin: auto;
    width: auto;
  }

  footer {
    margin-top: 145px;
    color: rgb(230,230,250);
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main {
    background-color: lightcoral;
    margin: auto;
    box-sizing: border-box;
  }

  .maps {
    position: relative;
    text-align: right;
    margin-right: 40px;
    top: 45px;
  }

  .raffle-area {
    position: relative;
    text-align: left;
    top: 350px;
    margin: 40px;
    transform: rotate(12deg);
  }

  .book-for-baby {
    position: relative;
    top: 100px;
    color: rgb(230,230,250);
    background-color: rgba(0, 0, 0, 0.45);
    border: 2px solid rgb(230,230,250);
    border-radius: 100px;
    text-align: center;
    font-size: 18px;
    margin: 0 15px 0 15px;
  }

  .book-info > h2 {
    text-decoration: underline;
    font-size: 42px;
  }

  .baby-shower-title > h2 {
    text-decoration: underline;
    font-size: 42px;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .top-of-page {
    color: rgb(230,230,250);
    position: relative;
    text-align: center;
    background-image: url("../img/hearts.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -20px;
    width: auto;
    height: 110px;
  }

  .main-p2 {
    background-color: lightcoral;
    margin: auto;
    box-sizing: border-box;
  }

  
  .poloroid {
    position: absolute;
    margin: 40px;
    padding: 15px;
  }
  
  .photo-page {
    text-align: center;
    display: inline-block;
    list-style: none;
    position: relative;
    border: solid 12px #fff;
    background: #fff;
    box-shadow: 0 0 15px 0px rgb(255, 255, 255);
    transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    top: 50px;
    opacity: 0.75;
  }
  
  
  .photo-page:hover{
    opacity: 1;
    height: 300px;
    width: 300px;
    z-index: 2;
  }
  
  .photo-page:nth-child(1) {
      transform:rotate(10deg);
  }
  
  .photo-page:nth-child(2) {
      transform:rotate(-12deg);
  }
  
  .photo-page:nth-child(3) {
      transform:rotate(16deg);
  }
  
  .photo-page:nth-child(4) {
      transform:rotate(-7deg);
  }

  .photo-page:nth-child(5) {
    transform:rotate(12deg);
}

.photo-page:nth-child(6) {
  transform:rotate(-11deg);
}

.photo-page:nth-child(7) {
  transform:rotate(17deg);
}

.photo-page:nth-child(8) {
  transform:rotate(-20deg);
}
  

  
  /* .light {
    border-radius:50%;
    position:absolute;
    left:0;
    right:0;
    width:700px;
    height:700px;
    background:#fff;
    filter:blur(100px);
    opacity:0.3;
    pointer-events:none;
  } */

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .main {
    background-color: lightcoral;
    margin: auto;
    box-sizing: border-box;
  }

  .maps {
    position: relative;
    text-align: right;
    margin-right: 40px;
    top: 45px;
  }

  .raffle-area {
    position: relative;
    text-align: left;
    top: 350px;
    margin: 40px;
    /* transform: rotate(12deg); */
  }

  .raffle-area:hover {
    /* transform: rotate(-9deg); */
  }

  .book-for-baby {
    position: relative;
    top: 100px;
    color: rgb(230,230,250);
    background-color: rgba(0, 0, 0, 0.45);
    border: 2px solid rgb(230,230,250);
    border-radius: 100px;
    text-align: center;
    font-size: 18px;
    margin: 0 15px 0 15px;
  }

  .book-info > h2 {
    text-decoration: underline;
    font-size: 42px;
  }

  .baby-shower-title > h2 {
    text-decoration: underline;
    font-size: 42px;
  }
}